@-moz-document domain('sushigirl.us') {


body {
    background: #fefefe;
    color: #232323;
    font-family: "DejaVu Sans";
}

div.boardlist {
    margin-top: 6px;
    padding: 6px;
    background: none;
    color: #ddd;
} 

div.title, h1 { color: #232323; }

hr {
    margin: 12px 0;
    border-color: #ddd;
}

a.ukkohide {
    color: #888;
    font-weight: 400;
}

form[name="postcontrols"] {
    margin: 0 auto;
    max-width: 800px;
}

.post input.delete { visibility: hidden; }
.post:hover input.delete { visibility: visible; }

.post .intro time { color: #444; }

div.post.reply {
    width: 100%;
    padding: 4px 6px 8px;
    border: none;
    background: none;
}
div.post.reply div.body {
    margin-top: 8px;
    margin-left: 32px;
}

div.post.post-hover {
    background: #fefefe !important;
    border: solid 1px #fff !important;
    opacity: 0.9 !important;
    box-shadow: 0 3px 10px rgba(95, 95, 95, 0.1) !important;
}


}
